*{
    margin:0;
    padding:0;
}

header {
width:100%;
background:lightblue;
height:80px;
box-shadow: 0 2px 2px 2px  rgb(146, 129, 129);
}

section {
    display:flex;
    justify-content: center;
    margin-top:30px;
}

.player {
    background:lightslategray;
    width:60rem;
    height: 40rem;
}

.description {
    background:lightcoral;
    width:60rem;
    height:20rem;
    margin-top:30px;
}

.sidepanel {
    width:25rem;
    height:auto;
    min-height:60rem;
    background:lightseagreen;
    margin-left:20px;
}

footer {
    margin-top:20px;
    width:100%;
    height: auto;
    min-height:10rem;
    background:black;
}